.slide-item{
    height: auto;
background: linear-gradient(to bottom, #000000, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.headingBanner{
 
    font-family: Georgia, sans-serif;
    font-size: 5em;
    letter-spacing: -2px;
    
       
}